#general.div {
    position: relative;
    height  : calc(90vh - 40px);
    content : center;
    padding : 10px 10px 10px 0
}

form.div {
    position: top;
    content : right;
    padding : 10px 10px 10px 0
}

#titulo {
    color: brown;
    margin: 2%;
    font-size: 48px;
    font-style: oblique;
    text-align: center
}

label.in {
    margin: 1%;
    content: left
}

button {
    margin-left: 1%;
    width: 100pt
}